.main {
   background: url(/Users/rachelheyvaert/Development/code/phase-1/Project1/catPrints.jpeg);
    text-align-last: center;
    font-style: normal;

}
.puns {
    background-color: rgb(71, 71, 71);
    border-color: black;
    border-style:double;
    color:white;

}
.introduction {
background-size: 100%;
text-align: center;
font-size: 20px;
display:inline-block;


}
#header {
    font-size: 60px;
    font-family: Roboto;
    text-align: center;
    display: inline-block;
    padding-bottom: 0%;
}


.buttons {
    padding: 5px 10px; 
    font-family: Roboto;
    font-size: 18px;
  background-color: orange;
    font-weight: 300;
    text-align: center;
    margin:auto;
    position: flex;
    display: flex;
    display:inline-block;
  
}
#button_instructions {
    font-size: 20px;
    text-align: center;
    display:inline-block;
    padding-top: 1.5%;
}

img {
    border-spacing: 5%;
    width: 20%;
    height: 20%;
}
#specific_facts{
background-color: white;
text-align: flex;
font-size: 20px;
font-family: Roboto;
border-spacing: 5%;
}

.save {
    background-color: black;
    font-size: 18px;
    border-color: grey;
    border-style:hidden;
    color: white;
    align-items: center;
}