.main {
   background: url(/Users/rachelheyvaert/Development/code/phase-1/Project1/catPrints.jpeg);
    text-align-last: center;
    font-style: open-sans;
}
.introduction {
background-size: 100%;
background-color: white;
text-align: center;
display:inline-block;

}
#header {
    font-size: 60px;
    font-family: Roboto;
}
p {
box-sizing: border-box;
background-origin: auto;
text-align: center;
display:inline-block;
}

#fact-photo-container {
    font-size: 20px;
    text-align: center;
    display:inline-block;
    background-color:white;
    border-left: 50%;
}

.buttons {
    padding: 5px 10px; 
    font-family: Roboto;
    font-size: 18px;
}